<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="reddit.component.css">
</head>
<body>
  <h1 class ="heading">Data Visualization for AntiWork</h1>
  <h3 class="subheading">WVU CS460: Group 1</h3>
  <h2>reddit</h2>

  <img src="assets/polarity15.png" alt="image">
  <img src="assets/sub15.png" alt="image">
  <img src="assets/pol4day.png" alt="image">
  <img src="assets/sub4day.png" alt="image">
  <img src="assets/polremwork.png" alt="image">
  <img src="assets/subremwork.png" alt="image">

</body>
</html>
