<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="reddit.component.css">
</head>
<body>
  <h1 class ="heading">Data Visualization for AntiWork</h1>
  <h3 class="subheading">CS460: Group 1</h3>
  <h2>reddit</h2>
  
  <img src="graphs/polarity15.png" alt="image">
  <img src="graphs/sub15.png" alt="image">
  <img src="graphs/pol4day.png" alt="image">
  <img src="graphs/sub4day.png" alt="image">
  <img src="graphs/polremwork.png" alt="image">
  <img src="graphs/subremwork.png" alt="image">

</body>
</html>
