body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #7CB9E8,#00308F);
    background-size: 100% 900%;
    background-attachment: fixed;
    animation: gradient 15s linear infinite;

  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .heading {
    text-align: center;
    margin: 0 auto; /* Center horizontally using margin */
    font-weight: bold;
    color: white;
  }
  .subheading {
    text-align: center;
    margin: 0 auto; /* Center horizontally using margin */
    font-weight: bold;
    color: white;
  }

  footer {
    text-align: left; /* Align the text to the left */
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  ul {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default list padding */
    margin: 0; /* Remove default list margin */
  }

  li {
    margin-bottom: 10px; /* Add spacing between each name */
    font-weight: bold;
    color: black;
  }

  button,
button::after {
 padding: 16px 20px;
 font-size: 25px;
 font-weight: bold;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
 left: 40%;
 margin-top: 12%;
 margin-right: 26%;
 margin-left: -9.5%;
 }

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

.button-container button {
  margin-right: 30%; /* Adjust as needed to add space between the buttons */
}
