<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
  <h1 class ="heading">Data Visualization for AntiWork</h1>
  <h3 class="subheading">CS460: Group 1</h3>
  <div class="button-container">
    <nav>
    <a routerLink="reddit"><button> Reddit </button></a>
    <a routerLink="twitter"><button> Twitter </button> </a>
    </nav>
    <router-outlet></router-outlet>
  </div>

  <footer>
    <ul>
      <li>Group Members:</li>
      <li>Abdalrahman Afifi</li>
      <li>David Keaton</li>
      <li>Jonathan Nellis</li>
      <li>Jacob Vila</li>
      <li>Starrie Schulz</li>
    </ul>
  </footer>
</body>
</html>
