<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="twitter.component.css">
</head>
<body>
  <h1 class ="heading">Data Visualization for AntiWork</h1>
  <h3 class="subheading">CS460: Group 1</h3>
  <h2>twitter</h2>
  
  <img src="graphs/Tpol15.png" alt="image">
  <img src="graphs/Tsub15.png" alt="image">
  <img src="graphs/Tpol4day.png" alt="image">
  <img src="graphs/Tsub4day.png" alt="image">
  <img src="graphs/Tpolremwork.png" alt="image">
  <img src="graphs/Tsubremwork.png" alt="image">

</body>
</html>
