<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
  <h1>Welcome to the Data Visualization for AntiWork</h1>
  <div class="button-containr">
    <button> Reddit </button>
    <button> Twitter </button>
  </div>
 
  <footer>
    <ul>
      <li>Group Members:</li>
      <li>Abdalrahman Afifi</li>
      <li>David Keaton</li>
      <li>Jonathan Nellis</li>
      <li>Jacob Vila</li>
      <li>Starrie Schulz</li>
    </ul>
  </footer>
</body>
</html>
